.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #4e4e4e;

    button {
        svg {
            width: 1.5rem;
            height: 1.5rem;
            path {
                fill: #444444;
            }
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
        }

        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}