$task-completed-bg: #5e926e;
$task-incompleted-bg: #d88181;
.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    &.completed{
        :not(button,p.author){
            text-decoration: line-through;
        }
        background-color: $task-completed-bg;
    }
    &.incompleted{
        background-color: $task-incompleted-bg;
    }
    button{
        img{
            width: 1.5rem;
            height: 1.5rem;
        }
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}